li
                    .panel.panel-primary
                      .panel-heading Oferta Destacada
                      .panel-body
                        .col-md-12
                          a(target='_blank', href="#{val.link}")
                            h4.title #{val.title}
                          p.description #{val.description}
                        .col-md-12
                          p.pull-left
                            em Visto en #{val.provider}
                            br
                            em Oferta de 
                              span.dateTarget #{val.pubdate}
                            br
                          p.pull-right
                            a.btn.btn-social-icon.btn-primay.btn-panel(target='_bank', href='https://www.facebook.com/sharer.php?u=#{val.link}')
                              i.fa.fa-facebook
                            a.btn.btn-social-icon.btn-primay.btn-panel(target='_bank', href='https://plus.google.com/share?url=#{val.link}')
                              i.fa.fa-google-plus
                            a.btn.btn-social-icon.btn-primay.btn-panel(target='_bank', href='https://www.linkedin.com/shareArticle?mini=true&url=#{val.link}&title=#{val.title}&source=Curratelo')
                              i.fa.fa-linkedin
                            a.btn.btn-social-icon.btn-primay.btn-panel(target='_bank', href='https://twitter.com/intent/tweet?text=#{val.title}&hashtags=devjobs&via=curratelo_es&url=#{val.link}')
                              i.fa.fa-twitter